   .login-container {
      height: calc(100vh - 60px); /* 100vh is the full viewport height */
      overflow-y: auto; /* Enable scrolling if needed */
       display: grid;
     grid-template-columns: 1fr 1.5fr;
     align-items: center;
     padding: 0 50px;
   }

   .form-section {
     max-width: 400px;
     padding: 20px;
   }

   .image-section {
     display: flex;
     justify-content: center;
     align-items: center;
   }

   .image-section img {
     width: 90%;
   }

   .actions {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 10px;
   }

   .forgot-password {
     color: #007bff;
     text-decoration: none;
     font-size: 0.875rem;
   }

   .forgot-password:hover {
     text-decoration: underline;
   }