.landing-container{
height: calc(100vh - 10rem);
width: 100%;
display: flex;
justify-content: center;
align-items: center;
color: white;
text-align: center;}
.container{
    height: calc(100vh - 60px); /* 100vh is the full viewport height */
}

