.landing-container{
background-image: url("../../../public/Images/girl-image.svg");
background-size: cover;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
color: white;
text-align: center;}
